.footer {
	display: flex;
	margin: 0 auto;
	max-width: var(--max-body-width);
	padding-bottom: 2rem;
	align-items: center;
	justify-content: space-between;
	background-color: var(bg-primary);
	padding: 0 1.2rem 5rem 1.2rem;
}

.footer__copyright {
	display: flex;
	font-size: 0.8rem;
	color: var(--text-primary);
}

.footer_credits-link {
	color: var(--text-secondary);
}

@media screen and (max-width: 768px) {
	.footer {
		padding: 0 1.7rem 5rem 1.7rem;
		flex-direction: column;
		gap: 1.5rem;
	}
}
