<footer>
	<div class="container-credits">
		<p>
			Criador por Vitor Oliveira inspirado no portfólio de
			<a href="https://soumyajit.vercel.app/" target="_blank"
				>Soumyajit Behera</a
			>
		</p>
	</div>
	<app-container-social-media
		class="social-media-component"
	></app-container-social-media>
	<div class="container-credits">
		<p>
			As imagens utilizadas foram retiradas de
			<a href="https://storyset.com/technology" target="_blank"
				>Technology illustrations by Storyset</a
			>
		</p>
	</div>
</footer>
