.header {
	width: 100%;
	padding: 0.8rem 0;
	background-color: var(--bg-secondary);
	opacity: 0.9;
	backdrop-filter: blur(150px);
	position: fixed;
	display: flex;
	justify-content: center;
	z-index: 1;
}

.header__navbar {
	width: var(--max-body-width);
	display: flex;
	justify-content: space-between;
}

.header__links-wrapper {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.header__link {
	color: var(--text-secondary);
	font-size: 1rem;
	font-weight: 500;
}

.header__link:hover {
	color: var(--text-primary);
}

.header__mobile-menu {
	background-color: transparent;
	border: none;
	display: none;
}

@media screen and (max-width: 768px) {
	.header {
		padding: 0.8rem 1.7rem;
	}
}
