<header class="header">
	<nav class="navbar">
		<a class="nav-link -logo" href="">Portfólio</a>
		<div #containerLinks class="container-links">
			<a class="nav-link" routerLink="/">Inicio</a>
			<a class="nav-link" routerLink="/sobre">Sobre</a>
			<a class="nav-link" routerLink="/projetos">Projetos</a>
		</div>
		<button
			#menuMobile
			class="mobile-menu-button"
			(click)="
				menuMobile.classList.toggle('-open');
				containerLinks.classList.toggle('-open')
			"
		>
			<span></span>
			<span></span>
			<span></span>
		</button>
	</nav>
</header>
