.header {
	width: 100%;
	background-color: #28658d81;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 0;
	position: fixed;
}

.navbar {
	display: flex;
	width: 60%;
	justify-content: space-between;
}
.container-links {
	flex-grow: 0.3;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.nav-link {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 22px;
}
.nav-link.-logo {
	font-size: 30px;
	flex-grow: 1;
}
