<article class="profile-card">
	<section class="profile-card__details-wrapper">
		<h1 class="profile-card__title">Vitor Oliveira</h1>
		<p class="profile-card__text">
			Desenvolvedor Fullstack especializado no desenvolvimento de aplicações
			modernas e escaláveis com Angular, React, Vue.js e Spring Boot.
		</p>
		<section class="profile-card__actions-wrapper">
			<a
				class="profile-card__action-link profile-card__action-link--button"
				href="assets/files/resume.pdf"
				target="_blank"
				rel="noopener"
				aria-label="Baixar meu currículo"
				>Currículo
				<svg
					class="profile-card__icon"
					width="16"
					height="16"
					aria-hidden="true"
				>
					<use
						xlink:href="assets/icons/file-download-icon.svg#file-download-icon"
					></use>
				</svg>
			</a>
			<app-social-links></app-social-links>
		</section>
	</section>
	<img
		class="profile-card__image"
		ngSrc="assets/images/profile.jpg"
		width="164"
		height="164"
		priority
		alt="Minha foto de perfil"
	/>
</article>
