<article class="profile-card">
	<section class="profile-card__details-wrapper">
		<h1 class="profile-card__title">Vitor Oliveira</h1>
		<p class="profile-card__text">
			Desenvolvedor front-end com especialização em Angular e experiência
			prática em React e Vue.js.
		</p>
		<p class="profile-card__text">
			Estudante de Ciência da Computação, desenvolvo interfaces front-end
			modernas e busco criar soluções eficientes para desafios complexos.
		</p>
		<section class="profile-card__actions-wrapper">
			<a
				class="profile-card__action-link profile-card__action-link--button"
				href="/src/assets/files/resume.pdf"
				download="resume.pdf"
				aria-label="Baixar meu currículo"
				>Currículo
				<svg
					class="profile-card__icon"
					width="16"
					height="16"
					aria-hidden="true"
				>
					<use
						xlink:href="../../../assets/icons/file-download-icon.svg#file-download-icon"
					></use>
				</svg>
			</a>
			<app-social-links></app-social-links>
		</section>
	</section>
	<img
		class="profile-card__image"
		ngSrc="../../../assets/images/profile.jpg"
		width="164"
		height="164"
		priority
		alt="Minha foto de perfil"
	/>
</article>
