.profile-card {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 3rem;
}

.profile-card__details-wrapper {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.profile-card__image {
	border-radius: 10px;
}

.profile-card__title {
	font-size: 3rem;
	color: var(--text-primary);
}

.profile-card__text {
	color: var(--text-primary);
}

.profile-card__actions-wrapper {
	margin-top: 1.5rem;
	display: flex;
	align-items: center;
	gap: 2rem;
}

.profile-card__action-link {
	display: inline-flex;
	align-items: center;
	gap: 0.5rem;
	color: var(--text-primary);
	transition: var(--transition-speed);
	font-weight: 600;
}

.profile-card__icon {
	fill: var(--text-primary);
}

.profile-card__action-link--button {
	background-color: var(--bg-primary);
	border: 2px solid var(--bg-secondary);
	padding: 0.5rem 1rem;
	border-radius: 5px;
}

.profile-card__action-link--button:hover {
	background-color: var(--bg-secondary);
}
