.container-primary {
	margin: 120px 0;
	width: 100%;
	box-sizing: border-box;
	height: auto;
	font-weight: bold;
	color: white;
	display: flex;
	justify-content: center;
}
.container-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.title {
	font-size: 38px;
	display: flex;
	flex-direction: column;
	align-items: center;
	line-height: 1.4;
}
.contrast-name {
	color: #c7f9cc;
}
.text {
	margin-top: 35px;
	font-size: 30px;
	color: #c7f9cc;
}

.card-image {
	width: 450px;
}
.card-image img {
	width: 100%;
	height: auto;
}
@media screen and (max-width: 1200px) {
	.title {
		font-size: 32px;
	}
	.text {
		font-size: 28px;
	}
	.card-image {
		width: 340px;
	}
}
@media screen and (max-width: 900px) {
	.title {
		font-size: 32px;
	}
	.text {
		font-size: 28px;
	}
	.container-primary {
		flex-direction: column;
		align-items: center;
	}
	.card-image {
		width: 420px;
	}
}
@media screen and (max-width: 620px) {
	.title {
		font-size: 28px;
	}
	.text {
		font-size: 24px;
	}
	.card-image {
		width: 360px;
	}
}

@media screen and (max-width: 480px) {
	.title {
		font-size: 22px;
	}
	.text {
		font-size: 20px;
	}
}
