.theme-toggle {
	background: transparent;
	border: none;
	cursor: pointer;
	padding: 8px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color 0.3s;
}

.theme-toggle__icon {
	width: 2.3rem;
	height: 2.3rem;
	padding: 0.4rem;
	border-radius: 10px;
}

.theme-toggle__icon--light {
	fill: rgb(255, 197, 51);
}

.theme-toggle__icon--dark {
	fill: rgb(86, 119, 201);
}

.theme-toggle__icon:hover {
	background-color: var(--bg-secondary);
}
