.card {
	width: 200px;
	height: 190px;
	border-radius: 19px;
	background-color: #072c44;
	border: 2px solid #4dcbbd;
	padding: 5px;
}
.card:hover {
	transform: scale(0.98);
	cursor: pointer;
}
.card figure {
	height: 80%;
	font-size: 18px;
	font-weight: bold;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 5px;
	color: white;
}
.card figure img {
	width: 90px;
	height: 90px;
}
.container-stars {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
	color: white;
}
.container-stars svg {
	font-size: 15px;
	font-weight: bold;
	width: 26px;
	height: 26px;
	fill: transparent;
	stroke: rgb(122, 122, 122);
}
.container-stars svg.-fillStar > path {
	fill: white;
	stroke: white;
}

@media screen and (max-width: 500px) {
	.card {
		width: 160px;
		height: 142px;
	}
	.card figure img {
		width: 70px;
		height: 70px;
	}
	.card figure {
		font-size: 16px;
	}
	.container-stars svg {
		font-size: 15px;
		font-weight: bold;
		width: 20px;
		height: 20px;
		fill: transparent;
		stroke: rgb(122, 122, 122);
	}
}
