<section class="section-introduction">
	<app-article-title-and-description
		[title]="titleAbout"
		[description]="descriptionAbout"
	></app-article-title-and-description>
	<div class="card-image">
		<img
			src="../../../assets/Code-rafiki.svg"
			alt="Imagem de um personagem programando em um computador."
		/>
	</div>
</section>
<section class="section-technologies-tools">
	<h1 class="title">Tecnologias</h1>
	<div class="container-card-tecs">
		<app-card-tec
			[starCount]="4"
			cardTitle="HTML5"
			cardImage="../../../assets/html5.svg"
		></app-card-tec>
		<app-card-tec
			[starCount]="4"
			cardTitle="CSS3"
			cardImage="../../../assets/css3.svg"
		></app-card-tec>
		<app-card-tec
			[starCount]="3"
			cardTitle="JavaScript"
			cardImage="../../../assets/javascript.svg"
		></app-card-tec>
		<app-card-tec
			[starCount]="2"
			cardTitle="TypeScript"
			cardImage="../../../assets/typescript.svg"
		></app-card-tec>
		<app-card-tec
			[starCount]="3"
			cardTitle="Angular"
			cardImage="../../../assets/angular.svg"
		></app-card-tec>
		<app-card-tec
			[starCount]="2"
			cardTitle="NodeJS"
			cardImage="../../../assets/nodejs.svg"
		></app-card-tec>
		<app-card-tec
			[starCount]="1"
			cardTitle="React"
			cardImage="../../../assets/react.svg"
		></app-card-tec>
	</div>

	<h1 class="title">Ferramentas</h1>
	<div class="container-card-tecs">
		<app-card-tec
			cardTitle="Windows"
			cardImage="../../../assets/windows.svg"
		></app-card-tec>
		<app-card-tec
			cardTitle="Git"
			cardImage="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg"
		></app-card-tec>

		<app-card-tec
			cardTitle="Github"
			cardImage="../../../assets/github.svg"
		></app-card-tec>
		<app-card-tec
			cardTitle="Visual Studio Code"
			cardImage="../../../assets/vscode.png"
		></app-card-tec>
	</div>
</section>
