<ul class="social-links">
	<li>
		<a
			href="https://www.linkedin.com/in/vitor-oliveira32/"
			target="_blank"
			aria-label="LinkedIn"
			title="LinkedIn"
		>
			<svg class="social-links__icon" aria-hidden="true">
				<use xlink:href="assets/icons/linkedin-icon.svg#linkedin-icon"></use>
			</svg>
		</a>
	</li>
	<li>
		<a
			href="https://github.com/oliveiravitor32"
			target="_blank"
			aria-label="Github"
			title="Github"
		>
			<svg class="social-links__icon" aria-hidden="true">
				<use xlink:href="assets/icons/github-icon.svg#github-icon"></use>
			</svg>
		</a>
	</li>
	<li>
		<a
			href="mailto:oliveiravitor327@gmail.com"
			target="_blank"
			aria-label="Email"
			title="Email"
		>
			<svg class="social-links__icon" aria-hidden="true">
				<use xlink:href="assets/icons/email-icon.svg#email-icon"></use>
			</svg>
		</a>
	</li>
</ul>
