.card-project {
	width: 600px;
	height: 250px;
	background-color: #072c44;
	display: flex;
	border: 2px solid #4dcbbd;
	border-radius: 10px;
	padding: 8px;
}
.container-img {
	flex: 1.05;
	display: flex;
	align-items: center;
}
.container-img img {
	width: 100%;
	max-height: 100%;
	border-radius: 10px 0 0 10px;
}
.container-card-info {
	text-align: center;
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
	padding: 20px 0;
	color: #fff;
}
.container-card-info h2 {
	font-size: 18px;
	font-weight: bold;
}
.container-card-info p {
	font-size: 15px;
	text-align: center;
}
.container-buttons {
	display: flex;
	gap: 20px;
}

.container-buttons .button {
	background-color: #38a3a5;
	border: none;
	color: white;
	border-radius: 2px;
	font-weight: bold;
	font-size: 14px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-decoration: none;
	padding: 8px;
}
.container-buttons .button:hover {
	cursor: pointer;
	transform: scale(1.05);
	border: 1px solid white;
}

@media screen and (max-width: 1400px) {
	.card-project {
		width: 500px;
		height: 220px;
	}
}

@media screen and (max-width: 500px) {
	.card-project {
		width: 300px;
		height: auto;
		flex-direction: column;
	}
	.container-img {
		margin-bottom: 5px;
		justify-content: center;
	}

	.container-img img {
		max-height: 200px;
		width: auto;
		border-radius: 10px 10px 10px 10px;
	}

	.container-card-info {
		gap: 8px;
		padding: 5px 0;
	}
	.container-card-info h2 {
		font-size: 15px;
		font-weight: bold;
	}
	.container-card-info p {
		font-size: 14px;
		text-align: center;
	}
	.container-buttons .button {
		font-size: 13px;
	}
}
