.section-greeting {
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(#38a3a5 1px, transparent 1px),
		radial-gradient(#38a3a5 1px, transparent 1px);
	background-size: 32px 32px;
	background-position: 0 0, 16px 16px;
	background-color: #22577a;
}
.section-presentation {
	height: 80vh;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 100px;
	background-image: radial-gradient(#38a3a5 1px, transparent 1px),
		radial-gradient(#38a3a5 1px, transparent 1px);
	background-size: 32px 32px;
	background-position: 0 0, 16px 16px;
	background-color: #22577a;
}
