.section-greeting {
	height: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: radial-gradient(#38a3a5 1px, transparent 1px),
		radial-gradient(#38a3a5 1px, transparent 1px);
	background-size: 32px 32px;
	background-position: 0 0, 16px 16px;
	background-color: #22577a;
}
.section-greeting .greeting-component {
	width: 100%;
}
.section-presentation {
	height: auto;
	padding: 100px 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 100px;
	background-image: radial-gradient(#38a3a5 1px, transparent 1px),
		radial-gradient(#38a3a5 1px, transparent 1px);
	background-size: 32px 32px;
	background-position: 0 0, 16px 16px;
	background-color: #22577a;
	border-top: 1px solid rgb(55, 162, 164);
}
.section-presentation .contacts-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}
