<section class="section-greeting">
	<app-greeting-message></app-greeting-message>
</section>
<section class="section-presentation">
	<app-article-title-and-description
		[title]="titleIntroduction"
		[description]="descriptionIntroduction"
	></app-article-title-and-description>
	<app-article-title-and-description
		[title]="titleSocialMedia"
		[description]="descriptionSocialMedia"
	></app-article-title-and-description>
	<app-container-social-media
		[primaryColor]="primaryColor"
		[secundaryColor]="secundaryColor"
	></app-container-social-media>
</section>
