<section class="section-projects">
	<app-article-title-and-description
		[title]="titleMain"
		[description]="descriptionMain"
	>
	</app-article-title-and-description>

	<div class="container-projects">
		<div class="featured-project">
			<h3>Projeto destaque!</h3>
			<app-card-project [project]="project_game_library"></app-card-project>
		</div>
		<app-card-project [project]="project_pokedex_angular"></app-card-project>
		<app-card-project [project]="project_note_app_angular"></app-card-project>
		<app-card-project
			[project]="project_shopping_cart_react"
		></app-card-project>
		<app-card-project [project]="project_to_do_list_react"></app-card-project>
		<app-card-project [project]="project_old_portfolio"></app-card-project>
	</div>
</section>
