.section-projects {
	height: auto;
	padding: 150px 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 120px;
	background-image: linear-gradient(#37a2a4 1.5px, transparent 1.5px),
		linear-gradient(to right, #37a2a4 1.5px, transparent 1.5px);
	background-size: 32px 32px;
	background-color: #22577a;
	border-bottom: 1px solid rgb(55, 162, 164);
}
.featured-project h3 {
	color: white;
	font-size: 21px;
	background-color: #072c44;
	padding: 6px 0;
	width: auto;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5px;
}

.container-projects {
	display: flex;
	justify-content: center;
	gap: 100px;
	flex-wrap: wrap;
}

@media screen and (max-width: 1400px) {
	.section-projects {
		gap: 60px;
	}
	.container-projects {
		gap: 40px;
	}
}

@media screen and (max-width: 800px) {
	.section-projects {
		gap: 40px;
	}
}
