<section class="section-projects">
	<app-article-title-and-description
		[title]="titleMain"
		[description]="descriptionMain"
	>
	</app-article-title-and-description>
	<div class="container-projects">
		<app-card-project
			[image]="imageProject_1"
			[title]="titleProject_1"
			[description]="descriptionProject_1"
			[codeLink]="codeLink_1"
			[demoLink]="demoLink_1"
		></app-card-project>
		<app-card-project
			[image]="imageProject_2"
			[title]="titleProject_2"
			[description]="descriptionProject_2"
			[codeLink]="codeLink_2"
			[demoLink]="demoLink_2"
		></app-card-project>
		<app-card-project
			[image]="imageProject_3"
			[title]="titleProject_3"
			[description]="descriptionProject_3"
			[codeLink]="codeLink_3"
			[demoLink]="demoLink_3"
		></app-card-project>
		<app-card-project
			[image]="imageProject_4"
			[title]="titleProject_4"
			[description]="descriptionProject_4"
			[codeLink]="codeLink_4"
			[demoLink]="demoLink_4"
		></app-card-project>
	</div>
</section>
