<div class="projects">
	<ul class="projects__list">
		<li
			class="projects__item"
			*ngFor="
				let project of projectsData.projects.slice(0, limit);
				let i = index
			"
		>
			<div class="project-card">
				<div class="project-card__image-wrapper">
					<img
						class="project-card__image"
						ngSrc="{{ project.img_url }}"
						fill
						[alt]="'Imagem do projeto ' + project.title"
					/>
				</div>
				<div class="project-card__content">
					<h3 class="project-card__title">{{ project.title }}</h3>
					<p class="project-card__description">
						{{ project.description }}
					</p>
					<div class="project-card__technologies">
						<span
							class="project-card__technology"
							*ngFor="let technology of project.technologies"
							>{{ technology }}</span
						>
					</div>
					<div class="project-card__actions">
						<a
							href="{{ project.code_url }}"
							class="project-card__button"
							target="_blank"
							rel="noopener noreferrer"
							>Código</a
						>
						<a
							*ngIf="project.demo_url"
							href="{{ project.demo_url }}"
							class="project-card__button"
							target="_blank"
							rel="noopener noreferrer"
							>Demo</a
						>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>
