<div class="projects">
	<ul class="projects__list">
		<li
			class="projects__item"
			*ngFor="
				let project of projectsData.projects.slice(0, limit);
				let i = index
			"
		>
			<article class="project-card">
				<div class="project-card__image-wrapper">
					<img
						class="project-card__image"
						ngSrc="{{ project.img_url }}"
						fill
						[alt]="'Imagem do projeto ' + project.title"
					/>
				</div>

				<div class="project-card__content">
					<h3 class="project-card__title">{{ project.title }}</h3>

					<p class="project-card__description">
						{{ project.description }}
					</p>

					<ul
						class="project-card__technologies tech-chips"
						aria-label="Tecnologias usadas"
					>
						<li
							class="tech-chip"
							*ngFor="let technology of project.technologies"
						>
							{{ technology }}
						</li>
					</ul>

					<footer class="project-card__footer">
						<a
							class="project-card__link"
							href="{{ project.code_url }}"
							target="_blank"
							rel="noopener noreferrer"
							[attr.aria-label]="'Ver o código de ' + project.title"
						>
							<svg class="project-card__link-icon" aria-hidden="true">
								<use xlink:href="assets/icons/code-icon.svg#code-icon"></use>
							</svg>
							Código
						</a>
						<a
							*ngIf="project.demo_url"
							class="project-card__link"
							href="{{ project.demo_url }}"
							target="_blank"
							rel="noopener noreferrer"
							[attr.aria-label]="'Abrir a demo de ' + project.title"
							>Demo
							<svg
								class="project-card__link-icon project-card__link-icon--arrow"
								aria-hidden="true"
							>
								<use
									xlink:href="assets/icons/arrow-up-right-icon.svg#arrow-up-right-icon"
								></use>
							</svg>
						</a>
					</footer>
				</div>
			</article>
		</li>
	</ul>
</div>
