* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	vertical-align: baseline;
	font-family: sans-serif;
	box-sizing: border-box;
}

:root {
	/* Common variables (used in both themes) */
	--transition-speed: 0.3s;
}

/*
	Breakpoints
  --breakpoint-xs: 480px;
	--breakpoint-sm: 768px;
	--breakpoint-md: 1024px;
	--breakpoint-lg: 1280px;
	--breakpoint-xl: 1440px;
*/

/* Light theme (default) */
body.light-theme {
	--bg-primary: #ffffff;
	--bg-secondary: #f5f5f5;
	--text-primary: #121212;
	--text-secondary: #555555;
	--accent-color: #3498db;
	--border-color: #dddddd;
	--hover-bg: #e8e8e8;
}

/* Dark theme */
body.dark-theme {
	--bg-primary: #121212;
	--bg-secondary: #1e1e1e;
	--text-primary: #ffffff;
	--text-secondary: #aaaaaa;
	--accent-color: #61dafb;
	--border-color: #444444;
	--hover-bg: #2d2d2d;
}

/* Set default theme */
body {
	background-color: var(--bg-primary);
	color: var(--text-primary);
	transition: background-color var(--transition-speed),
		color var(--transition-speed);
}
