* {
	margin: 0;
	padding: 0;
	border: 0;
	list-style: none;
	text-decoration: none;
	vertical-align: baseline;
	font-family: "Inter", sans-serif;
	box-sizing: border-box;
}

:root {
	/* Common variables (used in both themes) */
	--transition-speed: 0.3s;
	--max-body-width: 768px;
}

/*
	Breakpoints
  --breakpoint-xs: 480px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 768px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-xl: 1440px;
*/

/* Light theme (default) */
body.light-theme {
	--bg-primary: #ffffff;
	--bg-secondary: #e7e7e7;
	--text-primary: #121212;
	--text-secondary: #808080;
}

/* Dark theme */
body.dark-theme {
	--bg-primary: #121212;
	--bg-secondary: #202020;
	--text-primary: #ffffff;
	--text-secondary: #aaaaaa;
}

/* Set default theme */
body {
	background-color: var(--bg-primary);
	color: var(--text-primary);
	transition: background-color var(--transition-speed),
		color var(--transition-speed);
}
